html, 
body{
	height: 100%;
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
	background: #bdb8b8;
}

.gradient{
	background: linear-gradient(to bottom, #8ca361 0%,#bdb8b8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#eaeaea',GradientType=0 );
}

.page-header{
	padding: 0;
	margin-top: 3rem;
	color: #fffbfb
}